/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*headerا*/
    .none.sub-nav {
        display: none;
    }
    .nav1{
        justify-content: space-between;
    }
    .nav1 .sub-nav {
        width: calc(100% / 2);
    }
    /* first sec */
    section.main-sec .news-holder {
        flex-direction: column;
        height: 220vh;
    }
    section.main-sec .parant-div.first {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    section.main-sec .child-box-news {
        height: 100%;
    }
    .heading-row p,.heading-row h1  {
        font-size: 13px;
    }
    /* sacond sec new */
    .card-news h1,.child-box-news h2 {
        font-size: 15px;
    }
    .popular-news-sec .card-news p{
        font-size: 13px;
    }
    .popular-news-sec .card-group {
        flex-direction: column;
    }
    .popular-news-sec .flex-holder {
        flex-direction: column;
    }
    .popular-news-holder {
        width: 100%;
    }
    .popular-news-sec .Most-Read-holder {
        width: 100%;
        background-color: aliceblue;
        margin-top: 10%;
    }
    .popular-news-sec .card{
        margin-bottom: 3%;
    }
    section.container.popular-news-sec {
        height: auto;
    }

    /* nav responsive */
    li.none {
        display: none;
    }
    .nav1{
        justify-content: space-between;
    }
    .nav1 .sub-nav {
        width: calc(100% / 2);
    }
    li span{
        display: none;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /*headerا*/
    .none.sub-nav {
        display: none;
    }
    .nav1{
        justify-content: space-between;
    }
    .nav1 .sub-nav {
        width: calc(100% / 2);
    }
    section.main-sec.container,.container.popular-news-sec {
        max-width: 540px;
    }
    section.main-sec .news-holder {
        flex-direction: column;
        height: 130vh;
    }
    section.main-sec .parant-div.first {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    section.main-sec .child-box-news {
        height: 100%;
    }
    .heading-row p,.heading-row h1  {
        font-size: 13px;
    }
    /* sacond sec new */
    .card-news h1,.child-box-news h2 {
        font-size: 15px;
    }
    .popular-news-sec .card-news p{
        font-size: 13px;
    }
    .popular-news-sec .card-group {
        flex-direction: column;
    }
    .popular-news-sec .flex-holder {
        flex-direction: column;
    }
    .popular-news-holder {
        width: 100%;
    }
    .popular-news-sec .Most-Read-holder {
        width: 100%;
        background-color: aliceblue;
        margin-top: 10%;
    }
    .popular-news-sec .card{
        margin-bottom: 3%;
    }
    section.container.popular-news-sec {
        height: auto;
    }
    li.none {
        display: none;
    }
    .nav1{
        justify-content: space-between;
    }
    .nav1 .sub-nav {
        width: calc(100% / 2);
    }
    li span{
        display: none;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    section.main-sec.container,.container.popular-news-sec{
        max-width: 720px;
    }
    section.main-sec .news-holder {
        flex-direction: column;
        height: 130vh;
    }
    section.main-sec .parant-div.first {
        margin-right: 0%;
        margin-bottom: 2%;
    }
    section.main-sec .child-box-news {
        height: 100%;
    }
    .heading-row p,.heading-row h1  {
        font-size: 13px;
    }
        /* sacond sec new */
        .card-news h1,.child-box-news h2 {
            font-size: 15px;
        }
        .popular-news-sec .card-news p{
            font-size: 13px;
        }
        .popular-news-sec .card-group {
            flex-direction: column;
        }
        .popular-news-sec .flex-holder {
            flex-direction: column;
        }
        .popular-news-holder {
            width: 100%;
        }
        .popular-news-sec .Most-Read-holder {
            width: 100%;
            background-color: aliceblue;
            margin-top: 10%;
        }
        .popular-news-sec .card{
            margin-bottom: 3%;
        }
        section.container.popular-news-sec {
            height: auto;
        }
        li.hed{
            display: none;
        }
          .nav1{
            justify-content: space-between;
        }
        .nav1 .sub-nav {
            width: calc(100% / 2);
        }
        li span{
            display: none;
        }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    section.main-sec.container,.container.popular-news-sec {
        max-width: 960px;
    }
    li.hed{
        display: none;
    }
      .nav1{
        justify-content: space-between;
    }
    .nav1 .sub-nav {
        width: calc(100% / 3);
    }
}


@media screen and (max-width: 768px) {
    .article-img {
      width: 100%;
      height: auto;
    }
    .article-text {
      width: 100%;
    }
    .breif-descreption {
      width: 100%;
    }
    .articles-container {
      flex-direction: column;
    }
    .align-articles {
      flex-direction: column;
    }
    article {
      width: 100%;
    }
    #ad {
      display: none;
    }
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .articles-container {
      flex-direction: column;
      align-content: center;
    }
    article {
      width: 800px;
    }
    .align-articles {
      flex-direction: column;
      align-content: center;
    }
    #ad {
      display: none;
    }
  }
  
  
  @media screen and (min-width: 1200px) {
    article {
      width: 800px;
    }
   
  }
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }