/* header style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: black;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.nav1 .sub-nav {
  width: calc(100% / 3);
  height: 100%;
}
.nav1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
li.logo {
  border-left: none;
  padding-right: 6%;
}
i.far.fa-user {
  margin-right: 10px;
}
.search {
  background-color: #fff;
  width: 40%;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header li {
  color: white;
  list-style: none;
  padding: 0 12px;
  height: 40px;
  font-size: 13px;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid;
  border-right: 1px solid;
}
header input[type="search"] {
  outline: none;
  border: navajowhite;
  padding: 5px;
}

header li .img {
  width: 100%;
  height: 100%;
}

header .nav1 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 20px;
}
header .nav1 .morea {
  display: flex;
  padding: 0 18px;
}
i.fas.fa-caret-down {
  margin-left: 32%;
}

/* footer style */
.footer {
  background-color: #282828;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  margin-top: 6%;
  padding: 12px 16px;
}

.ulFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ulFooter ul {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.ulFooter li {
  list-style: none;
  cursor: pointer;
  width: 200px;
  color: white;
  list-style: none;
  padding: 0 12px;
  height: 40px;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  display: flex;
  cursor: pointer;
  padding-left: 14px;
  padding-top: 1%;
  border-left: 0.5px solid #ccc;
  border-right: 0.5px solid #ccc;
  font-size: 13px;
  font-weight: bold;
}

/* style first main sec -------------------------------------------------------------------------- */
section.main-sec,
.popular-news-sec {
  /* height: 70vh; */
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}

section.main-sec.container,
.container.popular-news-sec {
  max-width: 1170px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
section.main-sec .heading-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
section.main-sec p.head-sec {
  color: #4a4a4a;
  font-weight: bold;
}
.heading-row p {
  color: #8c8c8c;
  font-size: 1.375rem;
}
section.main-sec .news-holder {
  display: flex;
  /* height: 90%;  */
}
section.main-sec .parant-div {
  min-width: calc(100% / 2);
  height: 325px;
}
section.main-sec .parant-div.first {
  margin-right: 1%;
}
.card-news {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section.main-sec .overlay {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
.card-news.left-new {
  background: url(./images/p0bks3c3.webp) center center no-repeat;
  background-size: cover;
}
.card-news.firs-box {
  background: url(./images/_123082267_tvversion_gulfcoastlightning-still_logo.png)
    center center no-repeat;
  background-size: cover;
}
.card-news.sec-box {
  background: url(./images/p0bl2jnj.webp) center center no-repeat;
  background-size: cover;
}
.card-news.third-box {
  background: url(./images/_123067341_gettyimages-1358481321.jpg) center center
    no-repeat;
  background-size: cover;
}
.card-news.fouth-box {
  background: url(./images/_123059708_gettyimages-1079924442.jpg) center center
    no-repeat;
  background-size: cover;
}
.card-news h1,
.card-news p {
  padding-left: 2%;
  font-weight: bold;
}
.card-news p {
  padding-bottom: 2%;
}
section.main-sec .child-box-news {
  display: flex;
  height: 49%;
}
section.main-sec .child-box-news h2 {
  font-size: 16px;
  padding-left: 2%;
  padding-bottom: 3%;
  padding-right: 2%;
}
section.main-sec .child-box-news h2:hover,
section.main-sec h1 {
  cursor: pointer;
}
